.image-rail {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
}

.image-rail-img {
    max-width: 40%;
}

img {
    max-width: 80vw;
}

/* Sizing for Desktop: */
@media only screen and (min-width: 768px) {
    img {
        max-width: 30vw;
    }

    .image-rail-image {
        width: 30%;
        flex-grow: 1;
    }
}

.short-description {
   /* text-align: center; */
   /* padding: 0 2rem 0 2rem; */
}

.link-rail {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
}

.link {
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: white;
    border-color: #B0697F;
    border-width: 1rem;
    box-shadow:
        0 0 15px 0 #EDC4CF,
        0 1px 3px 0 #B0697F;
    color: #2e2d2d;
}

.keyboard-active a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -1px;
}

p {
    margin-top: 0.5rem;;
    margin-bottom: 0.5rem;
}

details {
    background: #f8e5e9;
    padding: 10px;
    cursor: pointer;
}