#root {
  max-width: 1280px;
  min-width: 80%;
  margin: 0 auto;
  text-align: center;
}

.dialog {
  position: fixed;
  inset: var(--inset);
  z-index: 50;
  margin: auto;
  display: flex;
  height: fit-content;
  max-height: calc(100dvh - var(--inset) * 2);
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
  border-radius: 5rem;
  background-color: snow;
  padding: 11rem;
  color:  #2E2D2D;
  box-shadow:
        0 0 15px 0 #EDC4CF,
        0 1px 3px 0 #B0697F;
  --inset: 0.75rem;

  /* Size & Position */
  top: 2vh;
  bottom: 2vh;
  margin-top: 0px;
  max-height: 90vh;
  width: 80vw;

  /* Look & Feel */
  border-radius: 1rem;
  padding: 1.5rem;
}

/* Desktop Only */
@media only screen and (min-width: 768px) {
  .dialog {
    top: 10vh;
    bottom: 10vh;
    max-height: 80vh;
    width: 60vw;
  }
}

.heading {
  margin: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 110%;
  background-color: #B0697F;
  color: snow;
  text-align: center;
  align-self: center;
  padding: 1rem;
}

/* Animations */

.hop-up-on-hover {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.hop-up-on-hover:hover {
  top: -7px;
}
