.card-ul {
    /* Appearance */
    border-radius: 0.5rem;
    background-color: snow;

    /* Container Positioning */
    width: 100%;

    /* Flex */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    /* Override default <ul> styles */
    list-style-type: none;
    padding-left: 0;
}

.card-li {
    flex: 0 1 25vw;
    flex-basis: 1;
    max-width: 95%;
    padding: 1.25rem;
}