.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 0.5rem;
    background-color: snow;
    padding: 0.5rem;
    min-width: 20em;
    box-shadow:
        0 1px 3px 0 rgb(0 0 0 / 0.2),
        0 1px 2px -1px rgb(0 0 0 / 0.2);

    align-items: center;
}

img {
    max-width: 90vw;
}

/* Sizing for Desktop: */
@media only screen and (min-width: 768px) {

    img {
        max-width: 40vw;
    }
  }
  