.card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: snow;
    padding: 0.5rem;
    min-width: 20em;
    box-shadow:
        0 0 15px 0 #EDC4CF,
        0 1px 3px 0 #B0697F;

    align-items: center;
    border-color: #EDC4CF;
    border-width: 0.1rem;
}



img {
    width: 95%;
}

.move-up-slightly {
    position: relative;
    top: 0px;
    transition: all 0.3s ease-out;
}
  